<%= form_for(babysitter) do |f| %>
  <% if babysitter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(babysitter.errors.count, "error") %> prohibited this babysitter from being saved:</h2>

      <ul>
      <% babysitter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :rate %>
    <%= f.number_field :rate %>
  </div>

  <div class="field">
    <%= f.label :sat_score %>
    <%= f.number_field :sat_score %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
